<!--
Code used for embedding Gumroad on the Hydejack Site. 
Left here for reference, feel free to delete.
-->
<link rel="dns-prefetch" href="https://assets.gumroad.com">
<script>window.GET_CLAPS_API = 'https://worker.getclaps.dev'</script>
<script type="module">
  const ppiData = window._ppiData = fetch('https://hydejack-ppi.qwtel.workers.dev', { mode: 'cors'}).then(res => res.json()).catch(() => ({}));
  const promisify = f => x => new Promise(r => f(x).addEventListener('load', r));
  const loadJS = promisify(window.loadJS);
  {
    let p;
    document.querySelector('hy-push-state').addEventListener('load', () => {
      const io = new IntersectionObserver(async (entries) => {
        if (entries.some(x => x.isIntersecting)) {
          p = p || loadJS('https://gumroad.com/js/gumroad-embed.js');
          const [{ code }] = await Promise.all([ppiData, p]);
          document.querySelectorAll('.gumroad-product-embed').forEach(el => { 
            if (!el.dataset.gumroadParams) {
              el.dataset.gumroadParams = 'offer_code=' + (code || 'qr0tw8m');
            }
          });
          if (!window.GumroadEmbed) {
            await new Promise(function check1(res) {
              if ('createGumroadEmbed' in window) res(window.createGumroadEmbed());
              else setTimeout(() => check1(res), 200);
            });
          }
          await new Promise(function check2(res) {
            if ('GumroadEmbed' in window) res(GumroadEmbed.reload());
            else setTimeout(() => check2(res), 200);
          });
        }
      }, { rootMargin: '1440px' });
      document.querySelectorAll('.gumroad-product-embed').forEach(el => io.observe(el));
    });
  }
  {
    let p;
    document.querySelector('hy-push-state').addEventListener('load', () => {
      const io = new IntersectionObserver(async (entries) => {
        if (entries.some(x => x.isIntersecting)) {
          p = p || loadJS('https://gumroad.com/js/gumroad.js');
          const [{ code }] = await Promise.all([ppiData, p]);
          if (code) {
            document.querySelectorAll('.gumroad-button').forEach(el => { 
              if (!el.href.endsWith(code)) {
                el.href = el.href + '/' + (code || 'qr0tw8m');
              }
            });
          }
          if (!window.GumroadOverlay) {
            await new Promise(function check(res) {
              if ('createGumroadOverlay' in window) res(window.createGumroadOverlay());
              else setTimeout(() => check(res), 200);
            });
          }
        }
      }, { rootMargin: '300px' });
      document.querySelectorAll('.gumroad-button').forEach(el => io.observe(el));
    });
  }
</script>


<style type="text/css">
  .navbar>.content::before {
    box-shadow: 0 0 0;
  }

  .index-header {
    color: #2452A1;
  }

  .body-social>ul {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0;
  }

  .body-social>ul>li {
    float: left;
    padding-right: 10px;
  }

  .body-social>ul>li>a {
    display: inline;
    text-align: center;
    font-size: 0.95rem;
    font-weight: 600;
    padding: 4px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    transition: background-color 250ms, color 250ms, text-decoration-color 250ms, border-color 250ms;
  }

  .body-social>ul>li>a:not(.btn):not(.no-hover) {
    border-color: var(--accent-color);
  }

  .body-social>ul>li>a:hover {
    color: white;
    background-color: var(--accent-color);
    border-radius: 5px;
    padding: 4px;
    transition: background-color 250ms, color 250ms, text-decoration-color 250ms, border-color 250ms;
  }

  .hl-sen {
    font-style: italic;
    color: #999;
  }

  .pub {
    border-left: 4px solid #aaa;
    padding: 2px 0px 2px 10px;
    margin-bottom: 10px;
  }

  .pub-title {
    display: inline;
    font-weight: bold;
  }

  .pub-venue {
    display: inline;
    color: #576982;
    padding-left: 0.5em;
  }

  .pub-authors {
    display: block;
    color: #B63732;
  }

  .demo-proj-row {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 30px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }

  .card {
    grid-column: span 3;
    vertical-align: top;
    border: 1px solid #ddd;
    background-color: white;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 991px) {
    .card {
      grid-column: span 6;
    }

    #featured-talks .row {
      grid-column-gap: 5px;
      grid-row-gap: 5px;
    }
  }

  .card img {
    width: 100%;
  }

  .cdesc {
    height: 30px;
    vertical-align: top;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 0px 5px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .cdesc {
      font-size: 14px;
      padding-bottom: 10px;
    }
  }

  #footer-info {
    font-size: smaller;
  }

  footer p {
    margin: 0;
  }

  .about-contents {
    text-align: justify;
  }

</style>
